In [2]:
import pandas as pd
import numpy as np

In [3]:
# # Number of rows
# num_rows = 1000000

# # Create sample data with 1,000,000 rows
# data = {
#     'Timestamp': pd.date_range(start='2022-01-01', periods=num_rows, freq='S'),
#     'Ticker': (['AAPL', 'GOOGL', 'MSFT', 'BTC', 'ETH', 'XRP'] * ((num_rows // 6) + 1))[:num_rows],
#     'Price': ([150, 2500, 300, 155, 2550, 310] * ((num_rows // 6) + 1))[:num_rows],
#     'Volume': ([100, 200, 150, 110, 210, 160] * ((num_rows // 6) + 1))[:num_rows],
#     'Buy/Sell': (['Buy', 'Sell', 'Buy', 'Sell', 'Buy', 'Sell'] * ((num_rows // 6) + 1))[:num_rows],
#     'Trader_ID': (['T1', 'T2', 'T3', 'T4', 'T5', 'T6'] * ((num_rows // 6) + 1))[:num_rows],
#     'Exchange': (['NYSE', 'NASDAQ', 'NYSE', 'Binance', 'Bybit', 'Coinbase'] * ((num_rows // 6) + 1))[:num_rows]
# }

# # Convert the dictionary into a DataFrame
# df = pd.DataFrame(data)
# df.to_csv("Exchange_Trade_Data.csv")
exchange_df = pd.read_csv("Exchange_Trade_Data.csv")
exchange_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1000000 non-null  int64
 1   Timestamp   1000000 non-null  object
 2   Ticker      1000000 non-null  object
 3   Price       1000000 non-null  int64
 4   Volume      1000000 non-null  int64
 5   Buy/Sell    1000000 non-null  object
 6   Trader_ID   1000000 non-null  object
 7   Exchange    1000000 non-null  object
dtypes: int64(3), object(5)
memory usage: 61.0+ MB

In [ ]:
#info

In [4]:
#head
exchange_df.head()
exchange_df.sample(30)

,Unnamed: 0,Timestamp,Ticker,Price,Volume,Buy/Sell,Trader_ID,Exchange
42503,42503,2022-01-01 11:48:23,XRP,310,160,Sell,T6,Coinbase
584695,584695,2022-01-07 18:24:55,GOOGL,2500,200,Sell,T2,NASDAQ
792022,792022,2022-01-10 04:00:22,ETH,2550,210,Buy,T5,Bybit
366142,366142,2022-01-05 05:42:22,ETH,2550,210,Buy,T5,Bybit
815198,815198,2022-01-10 10:26:38,MSFT,300,150,Buy,T3,NYSE
486741,486741,2022-01-06 15:12:21,BTC,155,110,Sell,T4,Binance
58869,58869,2022-01-01 16:21:09,BTC,155,110,Sell,T4,Binance
170930,170930,2022-01-02 23:28:50,MSFT,300,150,Buy,T3,NYSE
817085,817085,2022-01-10 10:58:05,XRP,310,160,Sell,T6,Coinbase
741802,741802,2022-01-09 14:03:22,ETH,2550,210,Buy,T5,Bybit
621078,621078,2022-01-08 04:31:18,AAPL,150,100,Buy,T1,NYSE
87679,87679,2022-01-02 00:21:19,GOOGL,2500,200,Sell,T2,NASDAQ
90372,90372,2022-01-02 01:06:12,AAPL,150,100,Buy,T1,NYSE
634803,634803,2022-01-08 08:20:03,BTC,155,110,Sell,T4,Binance
258230,258230,2022-01-03 23:43:50,MSFT,300,150,Buy,T3,NYSE
704967,704967,2022-01-09 03:49:27,BTC,155,110,Sell,T4,Binance
310483,310483,2022-01-04 14:14:43,GOOGL,2500,200,Sell,T2,NASDAQ
688179,688179,2022-01-08 23:09:39,BTC,155,110,Sell,T4,Binance
902486,902486,2022-01-11 10:41:26,MSFT,300,150,Buy,T3,NYSE
878156,878156,2022-01-11 03:55:56,MSFT,300,150,Buy,T3,NYSE
631431,631431,2022-01-08 07:23:51,BTC,155,110,Sell,T4,Binance
74987,74987,2022-01-01 20:49:47,XRP,310,160,Sell,T6,Coinbase
377368,377368,2022-01-05 08:49:28,ETH,2550,210,Buy,T5,Bybit
1400,1400,2022-01-01 00:23:20,MSFT,300,150,Buy,T3,NYSE
669427,669427,2022-01-08 17:57:07,GOOGL,2500,200,Sell,T2,NASDAQ
171488,171488,2022-01-02 23:38:08,MSFT,300,150,Buy,T3,NYSE
513343,513343,2022-01-06 22:35:43,GOOGL,2500,200,Sell,T2,NASDAQ
389706,389706,2022-01-05 12:15:06,AAPL,150,100,Buy,T1,NYSE
747285,747285,2022-01-09 15:34:45,BTC,155,110,Sell,T4,Binance
783227,783227,2022-01-10 01:33:47,XRP,310,160,Sell,T6,Coinbase

In [5]:
#groupby - Sum

#exchange_df.groupby('Ticker').sum()
#exchange_df.groupby('Ticker')['Volume'].sum()

volume_sum = {}

tickers = exchange_df['Ticker'].unique()
for ticker in tickers:
    sum_volume = exchange_df[exchange_df['Ticker'] == ticker]['Volume'].sum()
    volume_sum[ticker] = sum_volume
volume_sum

{'AAPL': 16666700,
 'GOOGL': 33333400,
 'MSFT': 25000050,
 'BTC': 18333370,
 'ETH': 34999860,
 'XRP': 26666560}

In [6]:
exchange_df.groupby('Ticker')['Volume'].sum()

Ticker
AAPL     16666700
BTC      18333370
ETH      34999860
GOOGL    33333400
MSFT     25000050
XRP      26666560
Name: Volume, dtype: int64

In [10]:
tickers = exchange_df.groupby('Ticker')
tickers.size()

Ticker
AAPL     166667
BTC      166667
ETH      166666
GOOGL    166667
MSFT     166667
XRP      166666
dtype: int64

In [ ]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [11]:
tickers

In [12]:
tickers.first()
tickers.last()
tickers.nth(5)

,Unnamed: 0,Timestamp,Ticker,Price,Volume,Buy/Sell,Trader_ID,Exchange
30,30,2022-01-01 00:00:30,AAPL,150,100,Buy,T1,NYSE
31,31,2022-01-01 00:00:31,GOOGL,2500,200,Sell,T2,NASDAQ
32,32,2022-01-01 00:00:32,MSFT,300,150,Buy,T3,NYSE
33,33,2022-01-01 00:00:33,BTC,155,110,Sell,T4,Binance
34,34,2022-01-01 00:00:34,ETH,2550,210,Buy,T5,Bybit
35,35,2022-01-01 00:00:35,XRP,310,160,Sell,T6,Coinbase

In [16]:
tickers.get_group('BTC')

exchange_df[exchange_df['Ticker'] == "BTC"]

,Unnamed: 0,Timestamp,Ticker,Price,Volume,Buy/Sell,Trader_ID,Exchange
3,3,2022-01-01 00:00:03,BTC,155,110,Sell,T4,Binance
9,9,2022-01-01 00:00:09,BTC,155,110,Sell,T4,Binance
15,15,2022-01-01 00:00:15,BTC,155,110,Sell,T4,Binance
21,21,2022-01-01 00:00:21,BTC,155,110,Sell,T4,Binance
27,27,2022-01-01 00:00:27,BTC,155,110,Sell,T4,Binance
...,...,...,...,...,...,...,...,...
999975,999975,2022-01-12 13:46:15,BTC,155,110,Sell,T4,Binance
999981,999981,2022-01-12 13:46:21,BTC,155,110,Sell,T4,Binance
999987,999987,2022-01-12 13:46:27,BTC,155,110,Sell,T4,Binance
999993,999993,2022-01-12 13:46:33,BTC,155,110,Sell,T4,Binance
999999,999999,2022-01-12 13:46:39,BTC,155,110,Sell,T4,Binance

In [17]:
tickers.groups

{'AAPL': [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, ...], 'BTC': [3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189, 195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297, 303, 309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495, 501, 507, 513, 519, 525, 531, 537, 543, 549, 555, 561, 567, 573, 579, 585, 591, 597, ...], 'ETH': [4, 10, 16, 22, 28, 34, 40, 46, 52, 58, 64, 70, 76, 82, 88, 94, 100, 106, 112, 118, 124, 130, 136, 142, 148, 154, 160, 166, 172, 178, 184, 190, 196, 202, 208, 214, 220, 226, 232, 238, 244, 250, 256, 262, 268, 274, 280, 286, 292, 298, 304, 310, 316, 322, 328, 334, 340, 346, 352, 358, 364, 370, 376, 382, 388, 394, 400, 406, 412, 418, 424, 430, 436, 442, 448, 454, 460, 466, 472, 478, 484, 490, 496, 502, 508, 514, 520, 526, 532, 538, 544, 550, 556, 562, 568, 574, 580, 586, 592, 598, ...], 'GOOGL': [1, 7, 13, 19, 25, 31, 37, 43, 49, 55, 61, 67, 73, 79, 85, 91, 97, 103, 109, 115, 121, 127, 133, 139, 145, 151, 157, 163, 169, 175, 181, 187, 193, 199, 205, 211, 217, 223, 229, 235, 241, 247, 253, 259, 265, 271, 277, 283, 289, 295, 301, 307, 313, 319, 325, 331, 337, 343, 349, 355, 361, 367, 373, 379, 385, 391, 397, 403, 409, 415, 421, 427, 433, 439, 445, 451, 457, 463, 469, 475, 481, 487, 493, 499, 505, 511, 517, 523, 529, 535, 541, 547, 553, 559, 565, 571, 577, 583, 589, 595, ...], 'MSFT': [2, 8, 14, 20, 26, 32, 38, 44, 50, 56, 62, 68, 74, 80, 86, 92, 98, 104, 110, 116, 122, 128, 134, 140, 146, 152, 158, 164, 170, 176, 182, 188, 194, 200, 206, 212, 218, 224, 230, 236, 242, 248, 254, 260, 266, 272, 278, 284, 290, 296, 302, 308, 314, 320, 326, 332, 338, 344, 350, 356, 362, 368, 374, 380, 386, 392, 398, 404, 410, 416, 422, 428, 434, 440, 446, 452, 458, 464, 470, 476, 482, 488, 494, 500, 506, 512, 518, 524, 530, 536, 542, 548, 554, 560, 566, 572, 578, 584, 590, 596, ...], 'XRP': [5, 11, 17, 23, 29, 35, 41, 47, 53, 59, 65, 71, 77, 83, 89, 95, 101, 107, 113, 119, 125, 131, 137, 143, 149, 155, 161, 167, 173, 179, 185, 191, 197, 203, 209, 215, 221, 227, 233, 239, 245, 251, 257, 263, 269, 275, 281, 287, 293, 299, 305, 311, 317, 323, 329, 335, 341, 347, 353, 359, 365, 371, 377, 383, 389, 395, 401, 407, 413, 419, 425, 431, 437, 443, 449, 455, 461, 467, 473, 479, 485, 491, 497, 503, 509, 515, 521, 527, 533, 539, 545, 551, 557, 563, 569, 575, 581, 587, 593, 599, ...]}

In [18]:
exchange_df.head(20)

,Unnamed: 0,Timestamp,Ticker,Price,Volume,Buy/Sell,Trader_ID,Exchange
0,0,2022-01-01 00:00:00,AAPL,150,100,Buy,T1,NYSE
1,1,2022-01-01 00:00:01,GOOGL,2500,200,Sell,T2,NASDAQ
2,2,2022-01-01 00:00:02,MSFT,300,150,Buy,T3,NYSE
3,3,2022-01-01 00:00:03,BTC,155,110,Sell,T4,Binance
4,4,2022-01-01 00:00:04,ETH,2550,210,Buy,T5,Bybit
5,5,2022-01-01 00:00:05,XRP,310,160,Sell,T6,Coinbase
6,6,2022-01-01 00:00:06,AAPL,150,100,Buy,T1,NYSE
7,7,2022-01-01 00:00:07,GOOGL,2500,200,Sell,T2,NASDAQ
8,8,2022-01-01 00:00:08,MSFT,300,150,Buy,T3,NYSE
9,9,2022-01-01 00:00:09,BTC,155,110,Sell,T4,Binance
10,10,2022-01-01 00:00:10,ETH,2550,210,Buy,T5,Bybit
11,11,2022-01-01 00:00:11,XRP,310,160,Sell,T6,Coinbase
12,12,2022-01-01 00:00:12,AAPL,150,100,Buy,T1,NYSE
13,13,2022-01-01 00:00:13,GOOGL,2500,200,Sell,T2,NASDAQ
14,14,2022-01-01 00:00:14,MSFT,300,150,Buy,T3,NYSE
15,15,2022-01-01 00:00:15,BTC,155,110,Sell,T4,Binance
16,16,2022-01-01 00:00:16,ETH,2550,210,Buy,T5,Bybit
17,17,2022-01-01 00:00:17,XRP,310,160,Sell,T6,Coinbase
18,18,2022-01-01 00:00:18,AAPL,150,100,Buy,T1,NYSE
19,19,2022-01-01 00:00:19,GOOGL,2500,200,Sell,T2,NASDAQ

In [19]:
tickers.describe()

       Unnamed: 0                                                              \
            count      mean            std  min       25%       50%       75%
Ticker
AAPL     166667.0  499998.0  288676.577969  0.0  249999.0  499998.0  749997.0
BTC      166667.0  500001.0  288676.577969  3.0  250002.0  500001.0  750000.0
ETH      166666.0  499999.0  288674.845918  4.0  250001.5  499999.0  749996.5
GOOGL    166667.0  499999.0  288676.577969  1.0  250000.0  499999.0  749998.0
MSFT     166667.0  500000.0  288676.577969  2.0  250001.0  500000.0  749999.0
XRP      166666.0  500000.0  288674.845918  5.0  250002.5  500000.0  749997.5

                     Price          ...                    Volume              \
             max     count    mean  ...     75%     max     count   mean  std
Ticker                              ...
AAPL    999996.0  166667.0   150.0  ...   150.0   150.0  166667.0  100.0  0.0
BTC     999999.0  166667.0   155.0  ...   155.0   155.0  166667.0  110.0  0.0
ETH     999994.0  166666.0  2550.0  ...  2550.0  2550.0  166666.0  210.0  0.0
GOOGL   999997.0  166667.0  2500.0  ...  2500.0  2500.0  166667.0  200.0  0.0
MSFT    999998.0  166667.0   300.0  ...   300.0   300.0  166667.0  150.0  0.0
XRP     999995.0  166666.0   310.0  ...   310.0   310.0  166666.0  160.0  0.0


          min    25%    50%    75%    max
Ticker
AAPL    100.0  100.0  100.0  100.0  100.0
BTC     110.0  110.0  110.0  110.0  110.0
ETH     210.0  210.0  210.0  210.0  210.0
GOOGL   200.0  200.0  200.0  200.0  200.0
MSFT    150.0  150.0  150.0  150.0  150.0
XRP     160.0  160.0  160.0  160.0  160.0

[6 rows x 24 columns]

In [48]:
tickers.sample(5)

,Unnamed: 0,Timestamp,Ticker,Price,Volume,Buy/Sell,Trader_ID,Exchange
495738,495738,2022-01-06 17:42:18,AAPL,150,100,Buy,T1,NYSE
341520,341520,2022-01-04 22:52:00,AAPL,150,100,Buy,T1,NYSE
511440,511440,2022-01-06 22:04:00,AAPL,150,100,Buy,T1,NYSE
802104,802104,2022-01-10 06:48:24,AAPL,150,100,Buy,T1,NYSE
871074,871074,2022-01-11 01:57:54,AAPL,150,100,Buy,T1,NYSE
576021,576021,2022-01-07 16:00:21,BTC,155,110,Sell,T4,Binance
641007,641007,2022-01-08 10:03:27,BTC,155,110,Sell,T4,Binance
656973,656973,2022-01-08 14:29:33,BTC,155,110,Sell,T4,Binance
625209,625209,2022-01-08 05:40:09,BTC,155,110,Sell,T4,Binance
498411,498411,2022-01-06 18:26:51,BTC,155,110,Sell,T4,Binance
339988,339988,2022-01-04 22:26:28,ETH,2550,210,Buy,T5,Bybit
374182,374182,2022-01-05 07:56:22,ETH,2550,210,Buy,T5,Bybit
161938,161938,2022-01-02 20:58:58,ETH,2550,210,Buy,T5,Bybit
900814,900814,2022-01-11 10:13:34,ETH,2550,210,Buy,T5,Bybit
265420,265420,2022-01-04 01:43:40,ETH,2550,210,Buy,T5,Bybit
303643,303643,2022-01-04 12:20:43,GOOGL,2500,200,Sell,T2,NASDAQ
619447,619447,2022-01-08 04:04:07,GOOGL,2500,200,Sell,T2,NASDAQ
559507,559507,2022-01-07 11:25:07,GOOGL,2500,200,Sell,T2,NASDAQ
582301,582301,2022-01-07 17:45:01,GOOGL,2500,200,Sell,T2,NASDAQ
221245,221245,2022-01-03 13:27:25,GOOGL,2500,200,Sell,T2,NASDAQ
505328,505328,2022-01-06 20:22:08,MSFT,300,150,Buy,T3,NYSE
124724,124724,2022-01-02 10:38:44,MSFT,300,150,Buy,T3,NYSE
330026,330026,2022-01-04 19:40:26,MSFT,300,150,Buy,T3,NYSE
888890,888890,2022-01-11 06:54:50,MSFT,300,150,Buy,T3,NYSE
934082,934082,2022-01-11 19:28:02,MSFT,300,150,Buy,T3,NYSE
321131,321131,2022-01-04 17:12:11,XRP,310,160,Sell,T6,Coinbase
805151,805151,2022-01-10 07:39:11,XRP,310,160,Sell,T6,Coinbase
909935,909935,2022-01-11 12:45:35,XRP,310,160,Sell,T6,Coinbase
200969,200969,2022-01-03 07:49:29,XRP,310,160,Sell,T6,Coinbase
67391,67391,2022-01-01 18:43:11,XRP,310,160,Sell,T6,Coinbase

In [49]:
tickers.nunique()

        Unnamed: 0  Timestamp  Price  Volume  Buy/Sell  Trader_ID  Exchange
Ticker
AAPL        166667     166667      1       1         1          1         1
BTC         166667     166667      1       1         1          1         1
ETH         166666     166666      1       1         1          1         1
GOOGL       166667     166667      1       1         1          1         1
MSFT        166667     166667      1       1         1          1         1
XRP         166666     166666      1       1         1          1         1

In [54]:
# agg method
# passing dict
tickers.agg({
    'Volume':'sum',
    'Price' :'max'

})

          Volume  Price
Ticker
AAPL    16666700    150
BTC     18333370    155
ETH     34999860   2550
GOOGL   33333400   2500
MSFT    25000050    300
XRP     26666560    310

In [63]:
# passing list
tickers[['Volume','Price']].agg(['sum','mean'])

          Volume             Price
             sum   mean        sum    mean
Ticker
AAPL    16666700  100.0   25000050   150.0
BTC     18333370  110.0   25833385   155.0
ETH     34999860  210.0  424998300  2550.0
GOOGL   33333400  200.0  416667500  2500.0
MSFT    25000050  150.0   50000100   300.0
XRP     26666560  160.0   51666460   310.0